.filter-area {
  @include flexbox('start');
  margin: 0 0 10px 10px;
}

.filter-btn {
  @include flexbox();
  padding: 7px 15px;
  border: 1px solid #eeeeee;
  border-radius: 18px;
  margin-right: 5px;
  font-size: 14px;
  .small-search-btn {
    margin-left: 7px;
    @include flexbox();
  }
}

.active-filter {
  background-color: #0078ff;
  color: #fff;
}
