.selected-area {
  @include flexbox('between');
}

.selected-filter-area {
  @include flexbox('start');
}

.selected-filter {
  @include flexbox();
  padding: 4px 10px;
  border-radius: 4px;
  margin: 12px 0px 12px 5px;
  font-size: 12px;
  font-weight: 400;
  background-color: #0078ff;
  color: #fff;

  .close-btn {
    padding-left: 7px;
    cursor: pointer;
  }
}

.reset-btn {
  cursor: pointer;
}
