html {
  height: 100%;
}
body {
  height: 100%;
}

#root {
  background-color: #f5f5f5;
  @include flexbox();
  height: 100%;
}

header {
  background-color: #fff;
}

main {
  background-color: #fff;
  flex-grow: 1;
}

.app {
  @include column-flexbox('start', 'stretch');
  flex-direction: column;
  background-color: #f1f1f1;
  width: 375px;
  height: 812px;
  overflow: auto;
}

.hide {
  display: none;
}
