.main {
  background-color: #fff;
  flex-grow: 1;
  margin-top: 10px;
}
.no-search-result {
  @include flexbox();
  height: 100%;
}

.search-result {
  @include flexbox('start', 'stretch');
  flex-wrap: wrap;
}
