.main {
  background-color: #fff;
  flex-grow: 1;
  margin-top: 10px;
  width: 375px;
}
.no-search-result {
  @include column-flexbox();
  height: 100%;
  div {
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
    color: #aaaaaa;
  }
}

.search-result {
  @include flexbox('start', 'stretch');
  flex-wrap: wrap;
}
